.article{
    width: 90%;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-color: white;
    box-shadow: 6px 5px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article img{
    width: 55px;
    height: 55px;
    border-radius: 40px;
}

.user_info{
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag{
    padding: 0px 5px 1px 5px;
    width: 60px;
    border: solid gray 1px;
    margin-right: 10px;
    color: gray;
}

.tags{
    margin: 10px 0px 10px 0px;
}

.title{
    color: blue;
    font-size: 18px;
    cursor: pointer;
}